<div class="patientInfoContainer">
  <div>
    <h2>Room # {{patient.roomNumber}}</h2>
  </div>
  <div>
    <h2>Misc: {{patient.miscInfo}}</h2>
  </div>
  <div class="editButton">
    <a href="/users/{{userId}}/patients/{{patient._id}}/edit" class="editButtonContent">Update Patient Info</a>
  </div>
  <div class="deleteButton">
    <a href="/users/{{userId}}/patients/{{patient._id}}/delete" class="deleteButtonContent">Discharge This Patient</a>
  </div>
</div>
<div class="tasksContainer">
  {{#each patient.tasks}}
  <div class="task">
    <div class="taskDescription">
      {{this.description}}
    </div>
    <div class="deleteButton">
      <a href="/users/{{../userId}}/patients/{{../patient._id}}/tasks/{{this._id}}/delete" class="deleteButtonContent">Complete</a>
    </div>
  </div>
  {{/each}}

  <div class="addButton">
    <a href="/users/{{userId}}/patients/{{patient._id}}/tasks/new" class="addButtonContent">Add Task</a>
  </div>
</div>