<div class="nurseInfoBox">
    <h1>
        {{user.name}}
    </h1>
    <h4>
        p: {{user.phoneNumber}}
    </h4>
        floor: {{user.floor}}
</div>
<div>
    <div class="editButton">
        <a href="/users/{{user._id}}/edit" class="editButtonContent">Update Nurse Info</a>
    </div>
    <div class="deleteButton">
        <a href="/users/{{user._id}}/delete" class="deleteButtonContent">Delete This Nurse</a>
    </div>
    <H6>Patients:</H6>
</div>
<div class="bedscontainer">
    {{#each user.patients}}
    <div class="patientBed">
        <a href="/users/{{../user._id}}/patients/{{_id}}">
            <div class="bedTop">
                <div class="pillow">
                </div>
            </div>
            <div class="sheet">
            </div>
            <div class="roomNumber">
                <h6>{{this.roomNumber}}</h6>
            </div>
        </a>
    </div>
    {{/each}}

    
     <div class="patientBed">
        <a href="/users/{{user._id}}/patients/new">
            <div class="bedTop">
                <div class="pillow">
                </div>
            </div>
            <div class="sheet">
            </div>
            <div class="roomNumber">
                <h6>+</h6>
            </div>
        </a>
    </div>
</div>