<div class="nurse infobar">
    <h1>
        {{user.name}}'s Patients:
    </h1>
    <h4>
        phone: {{user.phoneNumber}}
    </h4>
    {{user.floor}}
</div>
<div>
    <div class="button primary">
        <a href="/users/{{user._id}}/edit">Update Nurse Info</a>
    </div>
    <div class="button warning">
        <a href="/users/{{user._id}}/delete">Delete This Nurse</a>
    </div>
    <H3>Patients:</H3>
</div>
<div class="bedscontainer">
    {{#each user.patients}}
    <div class="patientBed">
        <div class="bedTop">
            <div class="pillow">
            </div>
        </div>
        <div class="sheet">
        </div>
        <div class="roomNumber">
            <a href="/users/{{../user._id}}/patients/{{this._id}}">
                <h6>{{this.roomNumber}}</h6>
            </a>
        </div>
    </div>
    {{/each}}
</div>